Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Ass <ass@ass.com>
Homepage: https://github.com/ass
Installed-Size: @@INSTALLEDSIZE@@
Provides: @@NAME@@
Conflicts: @@NAME@@
Replaces: @@NAME@@
Description: Ass. Code editing.
 Ass is a code editor that combines the simplicity of
 a code editor with what developers need for the core edit-build-debug cycle.
